<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.gviridis.pushrecord</string>
			<key>key</key>
			<string>Enable</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.gviridis.pushrecord.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>followOnTwitter:</string>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Leaving Settings to Twitter?</string>
				<key>title</key>
				<string>OK</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
			<key>twitterID</key>
			<string>sweeep11</string>
			<key>label</key>
			<string>Designed by @sweeep11</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>followOnTwitter:</string>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Leaving Settings to Twitter?</string>
				<key>title</key>
				<string>OK</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
			<key>twitterID</key>
			<string>gviridis</string>
			<key>label</key>
			<string>Developed by @gviridis</string>
		</dict>
	</array>
	<key>title</key>
	<string>PushRecord</string>
</dict>
</plist>
